.NavBar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    .NavList{
        display: flex;
        flex-direction: row;
        list-style-type: none;
    }

    .NavItem{
        margin-left: 5px;
        margin-right: 5px;
        cursor: pointer;
    }

    .NavbarLink{
        text-decoration: none;
        color: black;
        font-size: 1.5rem;
    }
    .NavbarLink:hover{
        text-decoration: underline;
        color: blue;
    }
}